<%- include("templates/header") %>
    <div class="grid w-5/6 h-full mx-auto mt-4">
        <img src="<%= location.imageUrl %>" alt="location image" class="max-h-72 w-full max border-2 border-orange-400 rounded-3xl">
            <p id="name_goes_here" class="text-center h1">
                <span class="border-b-4 border-purple-600"><%= location.name %></span>
            </p>
            <p id="description_goes_here" class="mt-2">
                <%= location.description %>
            </p>
            <p><strong>Temperature:</strong> <%= location.temp %>°C</p>
            <p><strong>Max temp:</strong> <%= location.tempmax %>°C</p>
            <p><strong>Min temp:</strong> <%= location.tempmin %>°C</p>
            <p><strong>Humidity:</strong> <%= location.humidity %>%</p>
            <div class="mx-auto flex justify-center w-4/5 mt-2">
                <span style="margin-right: 16px;">Rating:<%= location.rating %>
                    <% 
                    var fullStars = Math.floor(location.rating);
                    var halfStars = location.rating % 1 >= 0.5 ? 1 : 0;
                    var emptyStars = 5 - fullStars - halfStars;
                    %>
                    <% for (var i=0; i < fullStars; i++) { %>
                        <i style="margin-right: -6px;" class="fa-solid fa-star"></i>
                    <% } %>
                    
                    <% if (halfStars) { %>
                        <i style="margin-right: -6px;" class="fa-solid fa-star-half-stroke"></i>
                    <% } %>
                    <% for (var i = 0; i < emptyStars; i++) { %>
                        <i style="margin-right: -6px;" class="fa-regular fa-star"></i>
                    <% } %></span>
                <button class="ml-auto text-2xl pb-1 text-white border-2 border-teal-400 bg-teal-300 rounded-lg px-10 hover:border-cyan-300 hover:bg-cyan-200" id="reviewBtn" onclick='window.location.href="/review?location=<%= location.name %>"'>
                    Reviews
                </button>

                <button class="ml-auto text-2xl pb-1 text-white border-2 border-teal-400 bg-teal-300 rounded-lg px-10 hover:border-cyan-300 hover:bg-cyan-200" id="reviewBtn" onclick='window.location.href="/weather?email=<%= email %>"'>
                    Back
                </button>
                
                <button class="ml-4 mr-auto" onclick="saveLocationl('<%= location.name %>')"><% if (bookmark) { %><i class="fa-solid fa-bookmark"></i><% }else { %><i class="fa-regular fa-bookmark"></i><% } %></button>
            </div>
            <h1>this is donghoon test map</h1>
            <div id="map" style="height: 400px; width: 100%;">
                Map
            </div>
            <script>
                let map;
        
                async function initMap() {
                    const position = { lat: 49.284040676696016, lng: -123.13114135301554 };
                    
                    const { Map } = await google.maps.importLibrary("maps");
                    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");

                    const icon = document.createElement("div");
                    icon.innerHTML = '<i id="thisWeather" class="fas fa-cloud-showers-heavy fa-3x"></i>';
                    const pin = new PinElement({
                        glyph: icon,
                        glyphColor: "#ff8300",
                        background: "#FFD514",
                        borderColor: "#ff8300",
                        scale: 2
                    });

            
                    map = new Map(document.getElementById("map"), {
                        center: position,
                        zoom: 12,
                        mapId: "23eb0e7a56e2992b"
                    });
                    const marker = new AdvancedMarkerElement({
                        map: map,
                        position: position,
                        title: "I don't know~~~~~",
                        content: pin.element
                    });
                }
        
                // initMap();
            </script>
            <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsDIZVQ-hAu_88uBuHfMWIC-rHooYIlZU&loading=async&callback=initMap">
            </script>

            <script>
                function saveLocationl(location) {
                    window.location.href = '/saveLocation?location=' + location;
                }

                //################ Please change this function later ############
                function testingIconChange() {
                    setTimeout(() => {
                        document.getElementById("thisWeather").className= "fas fa-snowflake fa-3x"
                    }, 2000)
                }
                testingIconChange();
            </script>
    </div>
<%- include("templates/homenav") %>
<%- include("templates/footer") %>