<%- include("templates/header") %>

        <img src="" alt="location image" style="width: 100%; height: 300px;">
            <p id="name_goes_here">
                <%= location.name %>
            </p>
            
            <p id="description_goes_here">
                <%= location.description %>
            </p>
            <button id="reviewBtn"
                onclick='window.location.href="/review?location=<%= location.name %>"'>Review</button>
            <button onclick="saveLocationl('<%= location.name %>')"><% if (bookmark) { %><i class="fa-solid fa-bookmark"></i><% }else { %><i class="fa-regular fa-bookmark"></i><% } %></button>

            <script>
                function saveLocationl(location) {
                    window.location.href = '/saveLocation?location=' + location;
                }
            </script>
            <%- include("templates/homenav") %>
                <%- include("templates/footer") %>