<%- include("templates/header") %>
    <nav id="nav-hamburger">
        <button id="hamburgerBtn" onclick="toggleMenu()">
            <i id="hamburgerMenu" class="fa-solid fa-xl fa-bars"></i>
            <a link href="/setting" class="menuItems">setting</a>
            <a link href="/logout" class="menuItems">Log out</a>
            <a link href="/about_us" class="menuItems">About us</a>
        </button>
    </nav>
    <div class="grid content-center w-full">
        <div id="searchBar" class="mx-auto flex justify-center bg-purple-400 w-2/3 h-10 rounded-2xl">
            <p class="text-center my-auto">Click to choose your preferred weather</p>
        </div>
        <!-- above is SABA -->
        <!-- radman changes -->
        <form id="searchBox" class="flex justify-center" action="/weather?email=<%= email %>" method="post">
            <div class="rounded-2xl focus:outline-none w-4/6 border-4 border-purple-400 p-4 bg-white">
                <h1 class="text-xl font-bold mb-4">Search Weather</h1>
                <label for="weatherType" class="block mb-2">Weather Type:</label>
                <select name="weatherType" id="weatherType" required class="block w-full mb-4 p-2 border rounded">
                    <option value="rain">Rain</option>
                    <option value="snow">Snow</option>
                    <option value="wind">Wind</option>
                    <option value="frost">Frost</option>
                    <option value="fog">Fog</option>
                    <option value="Partially cloudy">Partially cloudy</option>
                </select>
                <label for="startDate" class="block mb-2">Start Date:</label>
                <input type="date" id="startDate" name="startDate" required
                    class="block w-full mb-4 p-2 border rounded">
                <label for="endDate" class="block mb-2">End Date:</label>
                <input type="date" id="endDate" name="endDate" required class="block w-full mb-4 p-2 border rounded">
                <button type="submit" class="block w-full bg-purple-400 text-white p-2 rounded">Search</button>
            </div>
        </form>
    </div>
    <div class="container mx-auto p-4">
        <% if (data.length> 0) { %>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <% data.forEach(day=> { %>
                    <% var bookmark=false; %>
                        <% for (var i=0; i < savedLocations.length; i++) { %>
                            <% if (day.name===savedLocations[i]) { %>
                                <% bookmark=true; %>
                                    <% break; %>
                                        <% } %>
                                            <% } %>
                                                <div class="card bg-white shadow-md rounded-lg p-4">
                                                    <% if (day.imageUrl) { %>
                                                        <img src="<%= day.imageUrl %>" alt="Image of <%= day.city %>"
                                                            class="w-full h-48 object-cover rounded mb-4">
                                                        <% } %>
                                                            <button id="saveBtn"
                                                                onclick="saveLocation('<%= day.name %>')"
                                                                class=" w-1/6">
                                                                <% if (bookmark) { %><i
                                                                        class="fa-solid fa-bookmark"></i>
                                                                    <% } else { %><i class="fa-regular fa-bookmark"></i>
                                                                        <% } %>
                                                            </button>

                                                            <h2 onclick="window.location.href='/destination?location=<%= day.name %>&&bookmark=<%= bookmark %>'"
                                                                class="text-xl font-semibold"><strong>City:</strong>
                                                                <%= day.name %>
                                                            </h2>
                                                            <p><strong>Date:</strong>
                                                                <%= day.date %>
                                                            </p>
                                                            <p><strong>Conditions:</strong>
                                                                <%= day.conditions %>
                                                                    <% if (day.conditions.includes('Rain')) { %>
                                                                        <i class="fas fa-cloud-showers-heavy"></i>
                                                                        <% } else if (day.conditions.includes('Snow')) {
                                                                            %>
                                                                            <i class="fas fa-snowflake"></i>
                                                                            <% } else if
                                                                                (day.conditions.includes('Sunny')) { %>
                                                                                <i class="fas fa-sun"></i>
                                                                                <% } else if
                                                                                    (day.conditions.includes('Cloudy'))
                                                                                    { %>
                                                                                    <i class="fas fa-cloud"></i>
                                                                                    <% } else if
                                                                                        (day.conditions.includes('Windy'))
                                                                                        { %>
                                                                                        <i class="fas fa-wind"></i>
                                                                                        <% } else if
                                                                                            (day.conditions.includes('Fog'))
                                                                                            { %>
                                                                                            <i class="fas fa-smog"></i>
                                                                                            <% } else { %>
                                                                                                <i
                                                                                                    class="fas fa-cloud"></i>
                                                                                                <!-- Default icon -->
                                                                                                <% } %>
                                                            </p>
                                                            <p><strong>Temperature:</strong>
                                                                <%= day.temp %>°C
                                                            </p>
                                                            <p><strong>Max temp:</strong> <%= day.tempmax %>°C</p>
                                                            <p><strong>Min temp:</strong> <%= day.tempmin %>°C</p>
                                                            <p><strong>Humidity:</strong>
                                                                <%= day.humidity %>%
                                                            </p>
                                                            <p>Rating: <%= day.rating %>
                                                            </p>
                                                </div>
                                                <% }) %>
            </div>
            <% } else { %>
                <div class="no-data-box">
                    No data found for the selected criteria.
                </div>
                <% } %>
    </div>

    <style>
        .no-data-box {
            border: 1px solid #d1d5db;
            /* Light gray border */
            background-color: #f9fafb;
            /* Light gray background */
            color: #6b7280;
            /* Dark gray text */
            padding: 10px;
            /* Padding inside the box */
            border-radius: 8px;
            /* Rounded corners */
            text-align: center;
            /* Center the text */
            font-size: 0.875rem;
            /* Small font size */
            width: fit-content;
            /* Adjust width to fit content */
            margin: 20px auto;
            /* Center the box horizontally with some margin */
        }
    </style>

    <script>
        const searchBar = document.getElementById("searchBar");
        const searchBox = document.getElementById("searchBox");
        searchBox.style.display = 'none';
        searchBar.addEventListener('click', function () {
            if (searchBox.style.display === 'flex') {
                searchBox.style.display = 'none';
            } else {
                searchBox.style.display = 'flex';
            }
        });

        const menuItems = document.querySelectorAll('.menuItems');
        menuItems.forEach((menuItem) => {
            menuItem.style.display = 'none';
        });
        const navHam = document.getElementById("nav-hamburger");
        navHam.style.margin = '6px';
        navHam.style.marginTop = '14px';

        const hamburgerMenu = document.getElementById("hamburgerMenu");
        hamburgerMenu.style.display = 'flex';
        hamburgerMenu.style.alignItems = 'baseline';

        const hamburgerBtn = document.getElementById("hamburgerBtn");
        hamburgerBtn.style.position = 'fixed';

        function toggleMenu() {
            if (hamburgerMenu.classList.contains("fa-bars")) {
                hamburgerMenu.classList.remove("fa-bars");
                hamburgerMenu.classList.add("fa-burger");
            } else {
                hamburgerMenu.classList.add("fa-bars");
                hamburgerMenu.classList.remove("fa-burger");
            }
            const navLinks = document.querySelectorAll('.menuItems');
            navLinks.forEach((navLink) => {
                if (navLink.style.display === 'flex') {
                    navLink.style.display = 'none';
                } else {
                    navLink.style.display = 'flex';
                }
            });
        }

        function saveLocation(location) {
            window.location.href = '/saveLocation?location=' + location;
        }
    </script>

    <%- include("templates/homenav") %>
        <%- include("templates/footer") %>