<%- include("templates/header") %>
    <nav id="nav-hamburger">
        <button id="hamburgerBtn" onclick="toggleMenu()">
            <i id="hamburgerMenu" class="fa-solid fa-xl fa-bars"></i>
            <a link href="/setting" class="menuItems">setting</a>
            <a link href="/logout" class="menuItems">Log out</a>
            <a link href="/about_us" class="menuItems">Contact us</a>
        </button>
    </nav>
    <div class="fixed content-center w-full">
        <form class="flex justify-center">
            <input class="rounded-2xl focus:outline-none w-4/6 border-4 border-purple-400" type="text"
                placeholder="What weather are you looking for?">
        </form>
    </div>

    <br>
    <br>
    <%for (var i=0; i < locations.length; i++) {%>
        <div id="<%= locations[i].name %>"
            onclick="window.location.href='/destination?location=<%= locations[i].name %>'">
            <%- include("templates/locations", {location: locations[i]}) %>
        </div>

        <%}%>

            <script>
                menuItems = document.querySelectorAll('.menuItems');
                menuItems.forEach((menuItem) => {
                    menuItem.style.display = 'none';
                });
                navHam = document.getElementById("nav-hamburger");
                navHam.style.margin = '6px';
                hamburgerMenu = document.getElementById("hamburgerMenu");
                hamburgerMenu.style.display = 'flex';
                hamburgerMenu.style.alignItems = 'baseline';
                function toggleMenu() {
                    if (hamburgerMenu.classList.contains("fa-bars")) {
                        hamburgerMenu.classList.remove("fa-bars");
                        hamburgerMenu.classList.add("fa-burger");
                    } else {
                        hamburgerMenu.classList.add("fa-bars");
                        hamburgerMenu.classList.remove("fa-burger");
                    }
                    var navLinks = document.querySelectorAll('.menuItems');
                    console.log(navLinks);
                    navLinks.forEach((navLink) => {
                        console.log(navLink);
                        if (navLink.style.display === 'flex') {
                            navLink.style.display = 'none';
                        } else {
                            navLink.style.display = 'flex';
                        }
                    });
                }

            </script>

            <%- include("templates/homenav") %>
                <%- include("templates/footer") %>