<%- include("templates/header") %>

    <%for (var i=0; i < locations.length; i++) {%>
        <div id="<%= locations[i].name %>" onclick="window.location.href='/destination?location=<%= locations[i].name %>'">
            <%- include("templates/locations", {location: locations[i]}) %>
        </div>
       
        <%}%>

            <%- include("templates/footer") %>