<%- include("templates/header") %>

                <h1>
                    <%= avgRating %>
                </h1>

                    <h2>Welcome to the review page user!</h2><br>
                    <div>
                    <% if(typeof(reviews) !='undefined' ) { %>
                        <% for (var i=0; i < reviews.length; i++) { %>
                            <h3>
                                <%= reviews[i].user %>
                            </h3>
                            <span>
                                <%= reviews[i].text %>
                            </span>
                            <span id="<%= i %>">
                                <%= reviews[i].starRating %>
                            </span>
                            <span>
                                <%= reviews[i].date %>
                            </span>
                            <% } %>
                        <% } %>
                    </div>
                    <button><a href="/post_review?location=<%= location.name %>" style="text-decoration: none; color: red;">
                            Share
                            Your Experience!
                        </a></button>

<%- include("templates/footer",{jsFile:['js/review.js']}) %>