<%- include("templates/header") %>

                <h1>
                    <%= avgRating %>
                </h1>

                    <h2>Everyone wants to hear from you!</h2><br>
                    <% if(typeof(reviews) !='undefined' ) { %>
                        <% for (var i=0; i < reviews.length; i++) { %>
                            <h3>
                                <%= reviews[i].user %>
                            </h3>
                            <span>
                                <%= reviews[i].text %>
                            </span>
                            <span id="<%= i %>">
                                <%= reviews[i].starRating %>
                            </span>
                            <span>
                                <%= reviews[i].date %>
                            </span>
                            <p>*****************************************************
                            </p>
                            <% } %>
                                <% } %>
                                    <button><a
                                            href="/post_review?location=<%= location.name %>"
                                            style="text-decoration: none; color: red;">Share
                                            Your Experience!
                                        </a></butt
                                    <%- include("templates/footer",{jsFile:
                                        ['js/review.js']}) %>