<%- include("templates/header") %>

    <div class="content-center w-full">
        <div id="searchBar" class="mx-auto mt-2 flex justify-center bg-purple-400 w-2/3 h-10 rounded-2xl">
            <p class="text-center my-auto"><a href="/home" class="hover:text-black"><i class="fa-solid fa-magnifying-glass"></i> Go back to search</a></p>
        </div>
    </div>

    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Weather Results</h1>
        <% if (data.length> 0) { %>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <% const seenCities={}; data.forEach(city=> {
                    if (!seenCities[city.city]) {
                    seenCities[city.city] = true;
                    %>
                    <div class="card bg-white shadow-md rounded-lg p-4">
                        <% if (city.imageUrl) { %>
                            <img src="<%= city.imageUrl %>" alt="Image of <%= city.city %>"
                                class="w-full h-48 object-cover rounded mb-4">
                            <% } %>
                                <h2 onclick="window.location.href='/destination?city=<%= city.city %>&startDate=<%= startDate %>&endDate=<%= endDate %>&email=<%= email %>'"
                                    class="text-xl font-semibold">
                                    <strong>City:</strong>
                                    <%= city.city %>
                                </h2>
                    </div>
                    <% } }); %>
            </div>
            <% } else { %>
                <div class="no-data-box">
                    No data found for the selected criteria.
                </div>
                <% } %>
    </div>

    <style>
        .no-data-box {
            border: 1px solid #d1d5db;
            background-color: #f9fafb;
            color: #6b7280;
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            font-size: 0.875rem;
            width: fit-content;
            margin: 20px auto;
        }
    </style>

    <%- include("templates/homenav") %>
        <%- include("templates/footer") %>